html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.meme-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    min-height: 100vh;
}

.meme-slider__wrapper {
    width: 46.9rem;
}

.meme-slider__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.meme-slider__item {
    display: none;
}

.meme-slider__picture img {
    border-radius: 10px;
}

#meme-1:checked~.meme-slider__list .meme-slider__item:nth-child(1),
#meme-2:checked~.meme-slider__list .meme-slider__item:nth-child(2),
#meme-3:checked~.meme-slider__list .meme-slider__item:nth-child(3), 
#meme-4:checked~.meme-slider__list .meme-slider__item:nth-child(4) {
    display: flex;
}