html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 43rem;
}

.meme-slider {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    overflow: hidden;

}

.meme-slider__wrapper {
    padding: 1rem;
}


.meme-slider__list {
    display: flex;
    gap: 1rem;
}

.meme-slider__item {
    border-radius: 1rem;
}


.meme-slider__wrapper:has([data-radio="first" ]:checked) .meme-slider__list {
    transform: translateX(0);
}

.meme-slider__wrapper:has([data-radio="second" ]:checked) .meme-slider__list {
    transform: translateX(calc(-100% - 1rem));
}

.meme-slider__wrapper:has([data-radio="third" ]:checked) .meme-slider__list {
    transform: translateX(calc(-200% - 2rem));
}

.meme-slider__wrapper:has([data-radio="fourth" ]:checked) .meme-slider__list {
    transform: translateX(calc(-300% - 3rem));
}